/* ---------------------------- */
/* Base
/* ---------------------------- */
html{
 font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  letter-spacing: .05em;
  font-family: 'Noto Serif','Noto Serif JP', serif;
  color: #171717;
}
img{
  vertical-align: bottom;
  width: 100%;
}

/*sectionごとの余白設定*/
.section-wrapper{
  padding: 100px 0 70px;
  /* background-color: #808080; */
}
/*section-titleの設定*/
.section-title{
  max-width: 1000px;
  color: #282f35;
  font-size: 6rem;
  font-style: italic;
  margin:0 auto 80px;
  padding: 0 20px;
}
.section-title::after{
 content: "";
 display: inline-block;
 background-color: #282f35;
 width: 200px;
 height: 5px;
 margin-left: 30px;
 vertical-align: middle;
}
.section-inner{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}
.section-bottom{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 9rem;
  opacity: .05;
}
.section-bottom.text-white{
  opacity: .1;
}
.text-right{
  text-align: right;
  /* color: #000; */
}
.text-white{
  color: #fff;
}
.section-title.text-white::after{
  background-color: #fff;
}

.link-btn{
  display: block;
  width: 235px;
  line-height: 60px;
  margin: 0 auto 70px;
  background-color: #f7d43f;
  box-shadow: 0 0 6px #1b1310;
  border-radius: 30px;
  text-align: center;
  color: #171717;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}
.link-btn:hover{
  opacity: .7;
  transition: .3s;
}
.sp-br{
  display: none;
}
/* ---------------------------- */
/* header
/* ---------------------------- */
.header{
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 100%;
  transition: 0.3s;
}
.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header.fixed{
  position: fixed;
  background-color: #282f35;
  padding: 30px;
  width: 100%;
  transition: 0.3s;
}
.header a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  font-style: italic;
}
.header a:hover{
  opacity: 0.7;
  transition: 0.3s;
}
.site-title{
  font-size: 2.6rem;
}
.nav-list{
  display: flex;
}
.nav-item{
  margin-right: 30px;
}
.nav-item:last-of-type{
  margin-right: 0;
}
.burger-btn{
  display: none;
}

/* ---------------------------- */
/* fv
/* ---------------------------- */
.fv{
  height: 100vh;
  min-height: 550px;
  position: relative
}
.fv img{
  object-fit: cover;
  height: 100vh;
  min-height: 100%;
}
.main-copy{
  position: absolute;
  left: 120px;
  bottom: 177px;
  color: #fff;
}
.en-copy{
  font-size: 7rem;
  margin-bottom: 31px;
  font-weight: bold;
}
.jp-copy{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.slick-arrow{
  display: none !important;
}
/* ---------------------------- */
/* about
/* ---------------------------- */
.about-lead{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 60px;
  font-weight: bold;
  line-height: 1.67;
}
.about-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.about-text{
  max-width: 440px;
  line-height: 1.87;
  font-weight: bold;
}
.about-img-wrapper{
  width: 44%;
  margin-left: 20px;
}

/* ---------------------------- */
/* detail
/* ---------------------------- */
.bg-detail{
  background-image: url(../img/detail-bgi.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.detail-list{
  max-width: 1000px;
  margin: 0 auto 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
.detail-item{
  width: 32%;
  background-color: #fff;
}
.detail-item a{
  color: #141414;
  text-decoration: none;
}
.detail-list-text{
  padding: 25px 20px;
}


/* ---------------------------- */
/* link
/* ---------------------------- */
.link-list{
  display: flex;
}
.link-item{
  width: 33.3%;
  /* height:320px; */
}
.link-item a{
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 320px;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  transition: .3s;
}
.link-item a:hover{
  background-color: rgba(40,47,53,.7);
  transition: .3s;
}
.link-item.link_1{
  background-image: url(../img/link-img01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.link-item.link_2{
  background-image: url(../img/link-img02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.link-item.link_3{
  background-image: url(../img/link-img03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ---------------------------- */
/* access
/* ---------------------------- */
.bg-access{
  background-image: url(../img/access-bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.access-text{
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 40px;
}

/* ---------------------------- */
/* footer
/* ---------------------------- */
.footer-nav{
  display: flex;
}
.footer-item{
  margin: 0 10px;
  width: 48%;
}
/*footerボックス*/
footer {
	clear: both;overflow: hidden;
	border-top: 5px solid #000;	/*上の線の幅、線種、色*/
	background: #444;	/*背景色*/
	color: #fff;		/*文字色*/
	padding-top: 20px;	/*上に空けるボックス内の余白*/
}
/*footer内のinner*/
footer .inner {
	padding: 0 50px;	/*上下、左右へのブロック内余白*/
}
/*リンクテキスト、マウスオン時の文字色*/
footer a, footer a:hover {
	color: #fff;
}
/*フッター内のh2タグ*/
footer h2 {
	font-size: 200%;	/*文字サイズ*/
	font-weight: normal;
	text-align: center;	/*内容をセンタリング*/
	letter-spacing: 0.1em;	/*文字間隔を少し広く*/
}
/*フッター内のaddress（電話番号ブロック）タグ*/
footer address {
	font-style: normal;
	background: #333;		/*背景色*/
	border-radius: 10px;	/*角丸の指定*/
	text-align: center;		/*内容をセンタリング*/
	line-height: 1.5;		/*行間*/
	padding: 5px;			/*ボックス内の余白*/
}
/*フッター内のaddress（電話番号の行）タグ*/
footer address .tel {
	font-size: 40px;	/*文字サイズ*/
	background: url(../images/icon_tel.png) no-repeat left center / 30px;	/*電話番号アイコンの読み込み*/
	padding-left: 45px;	/*電話番号アイコンの幅をここで調整する*/
}


/*ボックス全体*/
#footermenu {
	clear: both;overflow: hidden;
	font-size: 80%;	/*文字サイズを少し小さく*/
	margin-left: -1%;
	padding: 20px 0;
}
/*１列分の設定*/
#footermenu ul {
	float: left;	/*左に回り込み*/
	width: 24%;		/*今回は４列作ったので、下のmarginを含めて25%になるよう指定。５列にするならこの行は19%にする。*/
	margin-left: 1%;
}
/*メニュー１個あたりの設定*/
#footermenu ul li {
	padding: 0 10px;	/*上下、左右への余白*/
}
/*見出し*/
#footermenu li.title {
	font-weight: bold;	/*太字にする*/
	background: rgba(0,0,0,0.3);	/*背景色*/
	border-radius: 2px;	/*角丸のサイズ*/
}
/*リンクテキスト*/
#footermenu a {
	text-decoration: none;
	opacity: 0.6;	/*透明度。70%色がでた状態の事。*/
}
/*マウスオン時*/
#footermenu a:hover {
	opacity: 1;	/*透明度。100%色がでた状態の事。*/
}

/*コピーライト*/
.copyright {
	clear: both;
	text-align: center;
	/* background: #333;	 */
	color: #fff;		/*文字色*/
	padding: 20px;		/*ボックス内の余白*/
  /* margin: 0 20px 8px 8px;
  width:100%; */
}
.copyright a {text-decoration: none;color: #fff;}
.copyright .pr {display: block;}

@media screen and (max-width:768px){
  /* ---------------------------- */
  /* base_sp
  /* ---------------------------- */
  .section-wrapper{
    padding: 100px 0 40px;
  }
  .section-title{
    padding: 0 4vw;
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .section-title::after{
    width: 90px;
  }
  .section-inner{
    padding: 0 4vw;
  }
  .section-bottom{
    font-size: 4rem;
    padding: 0 4vw;
  }

  .link-btn{
    margin-bottom: 40px;
  }

  .sp-br{
    display: block;
  }
  .pc-br{
    display: none;
  }

  /* ---------------------------- */
  /* header_sp
  /* ---------------------------- */
  .header{
    padding: 30px 4vw 0;
  }
  .header-nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #282F35;
  }
  .nav-list{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-item{
    margin: 0 0 30px;
  }
  .nav-item:last-of-type{
    margin-bottom: 0;
  }

  .burger-btn{
    display: block;
    position: absolute;
    top: 30px;
    right: 4vw;
  }
  .burger-btn .bar{
    display: block;
    height: 3px;
    width: 30px;
    background-color: #fff;
  }
  .bar_top{
    margin-bottom: 8px;
  }
  .bar_mid{
    margin-bottom: 8px;
  }

  /* ハンバーガーメニューが開いたとき */
  .burger-btn.cross .bar_top{
    transform: rotate(45deg) translate(8px,8px);
    transition: .3s;
  }
  .burger-btn.cross .bar_mid{
    opacity: 0;
    transition: .3s;
  }
  .burger-btn.cross .bar_bottom{
    transform: rotate(-45deg) translate(8px,-8px);
    transition: .3s;
  }
  body.noscroll{
    overflow: hidden;
  }

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
  /* ---------------------------- */
  /* fv_sp
  /* ---------------------------- */
  .main-copy{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }
  .en-copy{
    font-size: 9.8vw;
  }
  .jp-copy{
    font-size: 8vw;
  }

    /* ---------------------------- */
    /* about_sp
    /* ---------------------------- */
    .about-lead{
      font-size: 2rem;
      margin-bottom: 32px;
    }
    .about-content{
      display: block;
      margin-bottom: 40px;
    }
    .about-text{
      margin-bottom: 30px;
    }
    .about-img-wrapper{
      width: 100%;
      margin: 0;
    }

    /* ---------------------------- */
    /* detail_sp
    /* ---------------------------- */
    .detail-list{
      display: block;
      padding: 0 4vw;
      margin-bottom: 80px;
    }
    .detail-item{
      width: 320px;
      max-width: 100%;
      margin: 0 auto 30px;
    }

    /* ---------------------------- */
    /* link_sp
    /* ---------------------------- */
    .link-list{
      display: block;
      margin-bottom: 40px;
    }
    .link-item{
      width: 100%;
      margin-bottom: 30px;
    }
    .link-item a{
      line-height: 250px;
    }

    /* ---------------------------- */
    /* footer_sp
    /* ---------------------------- */
    /*footer内のinner*/
    footer .inner {
    	padding: 0 3%;	/*上下、左右へのブロック内余白*/
    }
    /*footer内の２カラムブロックを１カラムにする*/
    .footer-nav{
      display: block;
    	margin: 0 20px 8px 8px;
    	width: 100%;
    }
    .footer-item{
    	margin: 0 20px 8px 8px;
    	width: 100%;
    }















}
